#searchInput {
    height: 35px;
    border-radius: 20px;
    margin-left: 0.3rem;
    padding: 1rem 0.8rem 1rem 1rem;
    text-align: center;
}

/* =========== Admin Dashboard =============== */
#admin-dashboard {
    width: 90%;
    overflow: scroll;
    margin: 4rem 2rem 0 2rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--pry-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 5px 10px;
    background-color: #133917;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-button:hover {
    background: #207429;
}

.delete-button {
    background: red;
}

.delete-button:hover {
    background: #bd0e1f;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 480px) {
    #searchInput {
        width: 110px;
    }
}