@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
}

html,
body {
  background-color: #f0f3f0;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

:root {
  --pry-color: #ff7800;
  --hover: #fd7e14;
  --bg-color: #fff;
}


/* Remove the light blue outline on mobile devices */
* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* If you want to target specific elements, use the following */
a,
img,
button,
input {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Ensure it covers most mobile browsers */
a,
img,
button,
input {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /* Safari */
  -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /* Firefox */
  -ms-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /* Internet Explorer/Edge */
  tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /* Standard */
}

.loginDiv {
  position: relative;
  margin: 0 1rem;
  padding: 2rem 3rem;
  width: fit-content;
  height: fit-content;
  background-color: var(--bg-color);
  box-sizing: content-box;
  box-shadow: 0 0 20px -8px #bcbdbc;
  border-radius: 20px;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit-content;
  height: 30px;
  margin: 0 auto;
  color: var(--pry-color);
}

.span-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(13, 17, 23, 0.03);
  background: #fff;
}

.logo-img {
  width: 1.7em;
  height: 1em;
}

input[type="email"] {
  display: block;
  width: 100%;
  min-width: 100px;
  height: 30px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--pry-color);
  font-size: 18px;
  z-index: 3;
  margin-top: 4rem;
}

input[type="email"]:focus {
  outline: none;
}

input[type="email"]:autofill {
  background-color: var(--bg-color) !important;
}

.return {
  text-align: center;
  font-size: 0.9rem;
  margin-top: -1rem;
}

.return a {
  color: var(--pry-color);
  text-decoration: underline;
}

.login {
  float: right;
  width: 50px;
  height: 50px;
  background-color: var(--pry-color);
  color: white;
  border: 1px solid var(--pry-color);
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.5s;
}

.login:hover {
  background-color: var(--hover);
  border: 1px solid var(--hover);
  transition: all 0.5s;
}

h1 {
  font-family: "Poppins";
  color: #253e24;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
  position: relative;
  top: -40px;
  font-size: 18px;
  z-index: 0;
  transition: all 0.4s;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#email:focus~label,
#email:valid~label {
  font-size: 14px;
  top: -70px;
  transition: all 0.2s;
  color: #000;
}

.inputField {
  height: 60px;
}


@media (max-width: 320px) {

  p,
  label,
  a,
  button {
    font-size: small;
  }
}