@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
}

html,
body {
  background-color: #f0f3f0;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

:root {
  --pry-color: #133917;
  --bg-color: #fff;
  --hover: #2e7436;
}

/* Remove the light blue outline on mobile devices */
* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* If you want to target specific elements, use the following */
a,
img,
button,
input {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Ensure it covers most mobile browsers */
a,
img,
button,
input {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /* Safari */
  -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /* Firefox */
  -ms-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /* Internet Explorer/Edge */
  tap-highlight-color: rgba(0, 0, 0, 0) !important;
  /* Standard */
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: var(--pry-color);
}

.span-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 20px -8px #7c7c7c;
  margin-right: 10px;
  background: #fff;
}

.logo-img {
  width: 1.5em;
  height: 1em;
}

input[type="email"],
input[type="password"] {
  display: block;
  width: 77%;
  margin-left: 10.5%;
  margin-top: 6%;
  margin-bottom: 2%;
  min-width: 100px;
  height: 30px;
  padding: 4px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  border-radius: 8px;
  background-color: var(--bg-color);
  border-bottom: 2px solid #4a7d47;
  font-size: 18px;
  z-index: 3;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}

input[type="email"]:autofill,
input[type="password"]:autofill {
  background-color: var(--bg-color) !important;
}

.loginDiv {
  position: relative;
  margin: 0 1rem;
  width: 100%;
  max-width: 350px;
  height: 450px;
  background-color: var(--bg-color);
  box-sizing: content-box;
  box-shadow: 0 0 20px -8px #bcbdbc;
  border-radius: 20px;
}

.reset-already {
  text-align: center;
  font-size: 0.9rem;
  margin-top: -1rem;
}

.reset-already a {
  color: var(--pry-color);
  text-decoration: underline;
}

.reset-already-two {
  margin-top: 0.9rem;
  margin-left: 10.5%;
}

.reset-already-two a {
  text-decoration: underline;
  color: var(--pry-color);
}

.login {
  padding: 14px 18px;
  background-color: var(--pry-color);
  color: white;
  border: 1px solid var(--pry-color);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  float: right;
  margin-right: 30px;
}

.login:hover {
  color: #fff;
  background-color: var(--hover);
  transition: all 0.5s;
  border: 1px solid var(--hover);
}

h1 {
  text-align: center;
  padding-top: 24px;
  font-family: "Poppins";
  padding-bottom: 15px;
  color: #253e24;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
  position: relative;
  top: -40px;
  margin-left: 10.5%;
  font-size: 18px;
  z-index: 0;
  transition: all 0.4s;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#password:focus~label,
#password:valid~label {
  font-size: 14px;
  top: -70px;
  transition: all 0.2s;
  color: #4a7d47;
}

#email:focus~label,
#email:valid~label {
  font-size: 14px;
  top: -70px;
  transition: all 0.2s;
  color: #4a7d47;
}

#email:valid~.error {
  display: none;
}

.inputField {
  height: 60px;
}

.error {
  display: none;
  width: 80%;
  margin: auto;
  color: red;
  margin-top: -20px;
}

input[aria-invalid="true"] {
  border-bottom: 2px solid red;
}

/* Your existing CSS styles */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  display: flex;
  max-height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 1rem 50px;
  width: 80%;
  max-width: 250px;
  text-align: center;
}

.popup-content img {
  width: 70px;
  height: 70px;
}

.popup-content p:nth-child(2) {
  color: rgb(20, 132, 46);
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-top: 1rem;
}

.popup-content p:nth-child(3) {
  color: #5a5a5a;
}

.popup-content a {
  padding: 6px 8px;
  border: 1px solid red;
  border-radius: 10px;
  font-weight: 600;
  color: red;
  background-color: #fff;
  cursor: pointer;
}

/* --------------------------- Loading Overlay -------------------------- */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

#loading-overlay.show {
  visibility: visible;
  opacity: 1;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--pry-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading-overlay p {
  color: #fff;
  font-size: 16px;
  margin-top: 1rem;
}

@media (max-width: 480px) {

  p,
  label,
  a,
  button {
    font-size: small;
  }
}